<%= form_for(@utility) do |f| %>
  <% if @utility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utility.errors.count, "error") %> prohibited this utility from being saved:</h2>

      <ul>
      <% @utility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
