<%= form_for(@utility_customer) do |f| %>
  <% if @utility_customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utility_customer.errors.count, "error") %> prohibited this utility_customer from being saved:</h2>

      <ul>
      <% @utility_customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :utility_id %><br>
    <%= f.text_field :utility_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :accountNumber %><br>
    <%= f.text_field :accountNumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
