<p id="notice"><%= notice %></p>

<h1>Listing Utility Customers</h1>

<table>
  <thead>
    <tr>
      <th>Utility</th>
      <th>User</th>
      <th>Accountnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utility_customers.each do |utility_customer| %>
      <tr>
        <td><%= utility_customer.utility %></td>
        <td><%= utility_customer.user %></td>
        <td><%= utility_customer.accountNumber %></td>
        <td><%= link_to 'Show', utility_customer %></td>
        <td><%= link_to 'Edit', edit_utility_customer_path(utility_customer) %></td>
        <td><%= link_to 'Destroy', utility_customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Utility customer', new_utility_customer_path %>
